@import "main.css";

.blogs img {
    width: 100%;
    margin-bottom: 1rem;
}

.tage {
    background: url(../images/blog/tage.png);
    height: 100%;
    color: white;
}

@media (min-width: 300px) and (max-width: 800px) {
    .blogs {
        font-size: 16px;
        padding: 1rem !important;
    }

    .blogs div {
        margin-bottom: 1.5rem !important;
    }

    .w-50 {
        width: 100% !important;
    }

    .w-50 span,
    .w-50 ul {
        font-size: 1rem !important;
    }

    .w-50 ul {
        padding: 0;
    }

}

@media (min-width: 300px) and (max-width: 600px) {
    .detail-content {
        padding: 0;
        margin: 0 !important;
    }

    .detail-content .detail-left{
        width: 90% !important;
    }

    .btn-trans,
    .btn-pink {
        padding: .8rem 0 !important;
        width: 90% !important;
    }

    .guide-div .row .col-lg-6 {
        padding: 1rem !important;
    }

    .guide-div p, .guide-div span {
        font-size: 16px !important;
    }
}
