@import "main.css";

.collection-add {
    display: flex;
    flex-wrap: wrap;
}

.collection-add img{
    height: 15vh;
    width: 20vw;
    margin: 1rem;
}

.collection-add .close{
    cursor: pointer;
}

.collection-add .couple, .collection-add .location{
    height: 2.2rem;
    width: 2rem;
    margin: 0.5rem;
}

.collection .content .row div img {
    height: 2rem;
    width: 2rem;
    margin-bottom: 1rem;
}

.styles .col{
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.1);
    margin: 1rem;
}