@import "main.css";

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 1.5rem;
    grid-template-areas:
        "b-1 b-2 b-2"
        "b-1 b-3 b-4"
        "b-5 b-5 b-4"
        "b-5 b-5 b-6"
        "b-7 b-8 b-8"
        "b-7 b-9 b-10"
        "b-11 b-11 b-10"
        "b-11 b-11 b-12";
}

#b-1 {
    grid-area: b-1;
}

#b-2 {
    grid-area: b-2;
}

#b-3 {
    grid-area: b-3;
}

#b-4 {
    grid-area: b-4;
}

#b-5 {
    grid-area: b-5;
}

#b-6 {
    grid-area: b-6;
}

#b-7 {
    grid-area: b-7;
}

#b-8 {
    grid-area: b-8;
}

#b-9 {
    grid-area: b-9;
}

#b-10 {
    grid-area: b-10;
}

#b-11 {
    grid-area: b-11;
}

#b-12 {
    grid-area: b-12;
}

#b-1 img, #b-2 img, #b-3 img, #b-4 img, #b-5 img, #b-6 img, #b-7 img, #b-8 img, #b-9 img, #b-10 img, #b-11 img, #b-12 img {
    width: 100% !important;
    height: 100% !important;
}

.gallery2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 1.5rem;
    grid-template-areas:
        "c-1 c-2 c-2"
        "c-1 c-2 c-2"
        "c-1 c-4 c-4"
        "c-3 c-4 c-4"
        "c-3 c-4 c-4";
}

#c-1 {
    grid-area: c-1;
}

#c-2 {
    grid-area: c-2;
}

#c-3 {
    grid-area: c-3;
}

#c-4 {
    grid-area: c-4;
}

@media (min-width: 303px) and (max-width: 800px) {
    .gallery {
        gap: .5rem;
    }
    .gallery2 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 0.5rem;
        grid-template-areas:
            "c-1"
            "c-1"
            "c-1"
            "c-2"
            "c-2"
            "c-3"
            "c-3"
            "c-4"
            "c-4"
    }
    .box img{
        width: 100%;
    }
}