@import "main.css";

.login {
    display: flex;
    justify-content: center;
}

.login .left {
    display: flex;
    justify-content: center;
    background-color: white;
}

.login .left form {
    position: relative;
    padding: 2rem;
    border-radius: 10px;
    width: 80%;
}

.login .left form .input-div  {
    border: 1px solid rgba(128, 128, 128, 0.3);
    padding: 12px;
    margin: 5px auto;
    border-radius: 8px;
    width: 100%;
}

.login .left form input, .drop-down{
    background-color: transparent;
    border: 1px solid rgba(128, 128, 128, 0.3);
    padding: 12px;
    margin: 5px auto;
    border-radius: 8px;
    width: 100%;
}

.login .left form input:focus{
    border: 1px solid var(--color-primary5);
    outline: none;
}

.login .left form .input-div input{
    border: none;
    border-radius: 0;
    border-left: 1px solid rgba(128, 128, 128, 0.4);
    width: 90%;
    padding: 0;
}

.field-icon {
    float: right;
    margin-right: 15px;
    margin-top: -35px;
    position: relative;
    z-index: 2;
    cursor: pointer;
}

.login .left form .btn-trans{
    border: 1px solid rgba(128, 128, 128, 0.4);
    background-color: white;
    margin: 5px;
    padding: 1rem;
}

.login .right{
    display: flex;
    justify-content: center;
}

.login .right img {
    height: 100%;
    width: 100%;
}

@media (min-width: 300px) and (max-width: 600px){
    .login .left form {
        padding: 0;  
    }
    .login .right img {
        width: 100vw;
    }
    .btn-pink{
        padding: 1rem;
        width: 100%;
    }
}

@media (min-width: 300px) and (max-width: 900px){
    .login .right img{
        height: 100vh;
        width: 100vw;
    }
}