@import "main.css";

.portfolio .container {
    display: grid;
}

.portfolio .active {
    color: var(--color-primary5);
}

.portfolio img {
    height: 295px;
    width: 302px;
}

/* rating */

.rating {
    margin-top: 40px;
    float: left;
}

.rating>label {
    color: rgba(128, 128, 128, 0.4);
    float: right;
}

.rating>label:before {
    margin: 5px;
    font-size: 2em;
    font-family: FontAwesome;
    content: "\f005";
    display: inline-block;
}

.rating>input {
    display: none;
}

.rating>input:checked~label,
.rating:not(:checked)>label:hover,
.rating:not(:checked)>label:hover~label {
    color: #F79426;
}

.rating>input:checked+label:hover,
.rating>input:checked~label:hover,
.rating>label:hover~input:checked~label,
.rating>input:checked~label:hover~label {
    color: #FECE31;
}

.detail-review .fa-star{
    color: #F79426;
    font-size: 1.5rem;
    margin: auto 2px;
}