@import "main.css";

/* imgs-roll */

.imgs-roll img {
    border-radius: 4px;
    height: 152px;
    width: 196px;
    padding-bottom: 15px;
    cursor: pointer;
}

/* venue-container */

.section-title {
    position: relative;
}

.venue-container .form-inputs {
    width: 40%;
    position: absolute;
    left: 30%;
    top: 20%;
}

.title-bar {
    color: var(--heading-color3);
}

.fa-star {
    color: var(--color-primary5);
}

.star {
    float: right;
}

.venue-container .card {
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: left;
    height: 95%;
}

.venue-container .card-title {
    display: inline-block;
}

.venue-container .card-img-top {
    padding-bottom: 15px;
}

.venue-container .card-body {
    /* text-align: left; */
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.venue-container .card-text,
.venue-container .card-text img {
    height: .9rem;
    /* width: .9rem; */
    font-size: .8rem;
    margin-right: 5px;
}

.venue-container .card-text img {
    height: .9rem;
    width: .9rem;
    
}

.venue-container .price {
    font-weight: 600;
}

.venue-container .btn-gray,
.venue-container .brb-gray {
    color: rgba(0, 0, 0, 0.8);
    font-size: .9rem;
    padding: 2px;
    margin-right: 5px;
}

.venue-container .btn-gray {
    background-color: var(--heading-color4);
}

.brb-gray {
    border-bottom: 2px solid gray;
    color: rgba(0, 0, 0, 0.6);
}

.brb-gray-light {
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

/* review-div */

.review-div {
    position: relative;
    margin: 20px;
    padding: 5%;
}

.review .div1 {
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.review .div1 .quote,
.review .div1 .angle-arr {
    float: right;
}


.review .div1 .angle-arr i {
    padding: 13px 16px;
}

.review .div1 .angle-arr i:hover {
    background-color: var(--color-primary5);
    border-radius: 50%;
    color: white;
}

.review .div2 {
    position: absolute;
    background-color: var(--color-primary5);
    color: white;
    left: 45%;
    z-index: -1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 8%;
    /* width: 100%; */
    height: 100%;
}

/* pagination */

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination .page-item:hover>.page-link {
    background-color: var(--color-primary5);
    color: white;
}

.page-link {
    color: black;
    margin: auto 10px;
    background-color: var();
    border-radius: 4px;
}

.pagination .prev-arr>.page-link,
.pagination .next-arr>.page-link {
    background-color: var(--color-primary9);
}

/*************************
     venue-details page
***************************/

.venue-bg {
    height: 42vh;
    /* height: 100%; */
}

.venue-bg img {
    width: 100%;
    height: 50vh;
}

.detail-content .fa-star {
    color: #ffd700;
}

.detail-content img {
    width: 30px;
}

.detail-content {
    display: flex;
    justify-content: center;
}

.detail-left,
.detail-right {
    background-color: white;
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    width: 45%;
}


.detail-content button {
    margin: 7%;
}

.detail-content .round {
    position: relative;
}

.detail-content .round label {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    height: 45px;
    left: 0;
    position: absolute;
    top: 0;
    width: 45px;
}

.detail-content .round input[type="checkbox"] {
    visibility: hidden;
}

.detail-content .round input[type="checkbox"]:checked+label {
    background-color: var(--color-primary5);
    border-color: var(--heading-color4);
}

.detail-content .round input[type="checkbox"]:checked+label:after {
    opacity: 1;
}

.checkbox {
    display: none;
}

.switch {
    align-items: center;
    background-color: gray;
    border-radius: 500px;
    cursor: pointer;
    display: flex;
    height: 30px;
    justify-content: space-between;
    padding: 0 10px;
    position: relative;
    user-select: none;
    width: 60px;
}

.checkbox:checked~.switch {
    background-color: var(--color-primary5);
}

.checkbox:not(:checked)~.switch {
    background-color: var(--heading-color4);
}

.switch__left,
.switch__right {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.checkbox:checked~.switch .switch__left {
    visibility: hidden;
}

.checkbox:not(:checked)~.switch .switch__right {
    visibility: hidden;
}

.switch__circle {
    height: 30px;
    padding: 2px;
    position: absolute;
    transition: all 0.1s linear;
    width: 30px;
}

.checkbox:checked~.switch .switch__circle {
    left: 0;
    right: calc(100% - 30px);
}

.checkbox:not(:checked)~.switch .switch__circle {
    left: calc(100% - 30px);
    right: 0;
}

.switch__circle-inner {
    background-color: white;
    border-radius: 50%;
    display: block;
    height: 100%;
    width: 100%;
}

